name: Deploy Frontend

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install

      # --- AQUI ESTÁ A MUDANÇA IMPORTANTE ---
      - name: Create .env file and Build
        run: |
          # Cria o arquivo .env na raiz do projeto forçando a URL
          echo "REACT_APP_API_BASE_URL=http://alb-principal-293281983.us-east-1.elb.amazonaws.com" > .env
          
          # Mostra o conteúdo só para confirmar (vai aparecer no log do Git)
          cat .env
          
          # Roda o build (que agora vai ler esse arquivo obrigatoriamente)
          npm run build
        env:
          CI: false

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to S3
        run: |
          aws s3 sync build/ s3://${{ secrets.AWS_S3_BUCKET }} --delete

      - name: Invalidate CloudFront Cache
        env:
          DIST_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
        run: |
          if [ -n "$DIST_ID" ]; then
            echo "Limpando cache do CloudFront..."
            aws cloudfront create-invalidation \
              --distribution-id $DIST_ID \
              --paths "/*"
          else
            echo "Nenhum ID de CloudFront definido. Pulando limpeza de cache."
          fi
